*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: darkorange;
    height: 10vh;
}

.site{
    display: flex;
    background-color: cyan;
    height: 90vh;
}

footer{
    margin-top: 0vh;
    background-color: mediumorchid;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: space-around;
}

.child1{
    min-height: 40vh;
    min-width: 15vw;
    background-color: cyan;
}

.child2{
    min-height: 40vh;
    min-width: 15vw;
    background-color: cyan;
}

.child3{
    min-height: 40vh;
    min-width: 15vw;
    background-color: cyan;
}

.child4{
    min-height: 40vh;
    min-width: 15vw;
    background-color: cyan;
}

.child1 h1{
    text-align: center;
}

.child1 h3{
    margin-top: 2px;
}

.child2 h1{
    text-align: center;
}

.child2 h3{
    margin-top: 2px;
}

.child3 h1{
    text-align: center;
}

.child4 h1{
    text-align: center;
}

.logo {
    text-align: center;
    padding-top: 15vh;
    margin-bottom: 10vh;
}

.barrinha{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-right: 10vw;
    margin-left: 10vw;
}

.inst {
    font-size: 19px;
}

.redes{
    display: flex;
    flex-direction: column;
}

.redes a{
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

